<p>
	<label>Name</label>
	<input ng-change="onQueryChange()" ng-model="query.name" ng-model-options='{ debounce: 1000 }'>
</p>
<p>
	<label>CMC</label>
	<input ng-change="onQueryChange()" ng-model="query.cmc" ng-model-options='{ debounce: 1000 }'>
</p>
<p>
	<label>Text</label>
	<input ng-change="onQueryChange()" ng-model="query.text" ng-model-options='{ debounce: 1000 }'>
</p>
<p>
	<label>Flavor</label>
	<input ng-change="onQueryChange()" ng-model="query.flavor" ng-model-options='{ debounce: 1000 }'>
</p>

<ui-select multiple ng-model="query.set" theme="bootstrap" style="width: 300px;" title="Choose card set" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card set...">
		[{{$item.code}}] {{$item.name}} {{$item.block? '- ' + $item.block : ''}}
	</ui-select-match>
	<ui-select-choices repeat="set.code as set in sets | filter: $select.search">
		[{{set.code}}] {{set.name}} {{set.block? '- ' + set.block : ''}}
	</ui-select-choices>
</ui-select>

<ui-select multiple ng-model="query.colors" theme="bootstrap" style="width: 300px;" title="Choose card colors" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card colors...">{{$item.name}}</ui-select-match>
	<ui-select-choices repeat="color.name as color in colors | filter: $select.search">
		{{color.name}}
	</ui-select-choices>
</ui-select>

<ui-select multiple ng-model="query.rarity" theme="bootstrap" style="width: 300px;" title="Choose card rarity" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card rarity...">{{$item}}</ui-select-match>
	<ui-select-choices repeat="rarity in rarities | filter: $select.search">
		{{rarity}}
	</ui-select-choices>
</ui-select>

<ui-select multiple ng-model="query.type" theme="bootstrap" style="width: 300px;" title="Choose card types" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card types...">{{$item}}</ui-select-match>
	<ui-select-choices repeat="type in types | filter: $select.search">
		{{type}}
	</ui-select-choices>
</ui-select>

<ui-select multiple ng-model="query.subtypes" theme="bootstrap" style="width: 300px;" title="Choose card subtypes" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card subtypes...">{{$item}}</ui-select-match>
	<ui-select-choices repeat="subtype in subtypes | filter: $select.search">
		{{subtype}}
	</ui-select-choices>
</ui-select>

<ui-select multiple ng-model="query.legality" theme="bootstrap" style="width: 300px;" title="Choose card legality" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card legality...">{{$item}}</ui-select-match>
	<ui-select-choices repeat="legality in legalities | filter: $select.search">
		{{legality}}
	</ui-select-choices>
</ui-select>

<ui-select ng-model="query.language" theme="bootstrap" style="width: 300px;" title="Choose card prefered language" ng-change="onQueryChange()">
	<ui-select-match placeholder="Select or search card prefered language...">{{$select.selected}}</ui-select-match>
	<ui-select-choices repeat="language in languages | filter: $select.search">
		{{language}}
	</ui-select-choices>
</ui-select>

<label>
	<input type="checkbox" ng-model="config.loadOnChange">Run search on change
</label>



<div>
	<div ng-repeat="card in loadedCards | filter: hasImage | orderBy: order" class="card-image float-card">
		<div class="collection-overlay">
			<div class="badge collection-have">
				Have {{card.have}}
				<span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeFromCollection(card.id)" ng-show="card.have"></span>
				<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addToCollection(card.id)"></span>
			</div>
			<div class="badge collection-want">Want</div>
			<!-- 
		<div class="badge collection-trade">Trade</div> 
		-->
		</div>
		<div afkl-lazy-image="{{imageFromCard(card)}}" class="afkl-lazy-wrapper afkl-img-ratio-1-1 own-classname" afkl-lazy-image-options='{imgAttrs: [{alt: "{{card.name}}"}]}'></div>
	</div>
</div>
